* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

#pages {
  background-color: black;
  color: white;
  min-height: 600px;
}

.d-none {
  display: none;
}

.hero {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: rgba(0, 0, 0, 0.7);
  filter: blur(50px);
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.navbar .nav-item {
  list-style: none;
}

.navbar .nav-link {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: burlywood;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-text h1 {
  font-size: clamp(2rem, 8vw, 60px);
  color: white;
  letter-spacing: 10px;
  font-weight: 800;
}

.hero-text p {
  margin-top: -20px;
  font-size: clamp(1rem, 5vw, 25px);
  color: white;
  letter-spacing: 2vw;
  font-weight: 700;
}


//About

.page-section {
  padding: 4rem 0;
}

.journey-section, .boredom-section {
  margin-bottom: 4rem;
}

.journey-section {
  margin-top: -150px;
}

.journey-text, .boredom-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.journey-text {
  margin-top: 80px;
  margin-left: -100px;
}

.boredom-text {
  margin-right: -150px;
}

.journey-text h2, .boredom-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 8px;
}

.journey-text p, .boredom-text p {
  font-size: 1.2rem;
  letter-spacing: 5px;
}

.image img {
  width: 100%;
  border-radius: 10px;
}

//footer

footer {
  background-color: black;
  color: white;
  text-align: center;
}

//finder

#finder {
  position: absolute;
  top: 56%;
  left: 35%;
  min-height: 100vh;
  display: flex;
  height: 400px;
  width: 500px;

  .finder-text, button {
    margin-right: 25px;
    text-align: center;

    h1 {
      padding: 10px;
      letter-spacing: 5px;
    }
  }

  button {
    width: 300px;
    margin-top: 30px;
  }
}

//Grid

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 45px);
  grid-template-rows: repeat(10, 45px);
}

.grid-item {
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  cursor: pointer;
}

.grid-item.selected {
  background-color: chocolate;
  color: white;
}

.grid-item.start {
  background-color: darkgreen;
}

.grid-item.end {
  background-color: red;
}

.grid-item.shortestPath {
  background-color: chartreuse;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 1.3rem;
  }

  .journey-section {
    padding-top: 80px;
  }

  .boredom-text {
    white-space: nowrap;
  }

  .journey-text {
    white-space: nowrap;
    margin-top: 50px;
  }

  .boredom-text {
    margin-right: 0;
  }

  .journey-text h2, .boredom-text h2 {
    font-size: 1.5rem;
  }

  .journey-text p, .boredom-text p {
    font-size: 1.1rem;
  }

  .image img {
    max-width: 100%;
    margin: 0 auto;
  }
}


@media (max-width: 767px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .journey-section {
    margin-top: 0;
    padding-top: 2rem;
  }

  .journey-section .row, .boredom-section .row {
    flex-direction: column;
  }

  .journey-section .image, .boredom-section .image {
    order: 2;
  }

  .journey-section .journey-text, .boredom-section .boredom-text {
    margin-left: 0;
    margin-right: 0;
    order: 1;
    margin-bottom: 2rem;
  }
}
